.sidebar {
  grid-area: sidebar;
  background-color: var(--background-secondary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.sidebar .toggle {
  align-self: flex-end;
  display: none;
  border: none;
  outline: none;
  background: none;
  box-shadow: none;
  cursor: pointer;
  color: var(--primary-color);
}

.sidebar .toggle i {
  font-size: 32px;
}

.sidebar .profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 42px;
  margin-bottom: 42px;
}

.sidebar .profile .profile-image {
  background-image: url('../../assets/imgs/profile.png');
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
  height: 120px;
  width: 120px;
  margin-bottom: 20px;
}

.sidebar .profile address {
  margin-bottom: 10px;
  font-size: clamp(12px, 1vw + 8px, 20px);
}

.sidebar .profile a {
  color: var(--secondary-color);
  text-decoration: none;
}

.sidebar .menu {
  width: 100%;
}

.sidebar .menu hr {
  margin-bottom: 20px;
  border: 0;
  height: 1px;
  background-image: linear-gradient(
    to right,
    rgba(120, 120, 120, 0),
    rgba(120, 120, 120, 0.75),
    rgba(120, 120, 120, 0)
  );
}

.sidebar .sidebar-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--secondary-color);
  padding: 20px;
  text-decoration: none;
  font-size: clamp(12px, 1vw + 8px, 20px);
}

.sidebar .sidebar-link:hover {
  background: var(--background-color);
  border-left: 4px solid var(--secondary-color);
}

.sidebar .dropdown-link {
  height: 42px;
  padding-left: 2rem;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--secondary-color);
  font-size: clamp(12px, 1vw + 8px, 18px);
}

.sidebar .dropdown-link:hover {
  background: var(--background-color);
}

@media only screen and (max-width: 680px) {
  .sidebar {
    position: absolute;
    width: 280px;
  }

  .sidebar .profile {
    margin-top: 0px;
  }

  .sidebar .toggle {
    display: block;
  }

  .sidebar.open {
    -webkit-transform: translate3d(0px, 0px, 0px);
    transform: translate3d(0px, 0px, 0px);
    transition: all 0.5s ease 0s;
    -webkit-transition: all 0.5s ease 0s;
  }

  .sidebar.closed {
    -webkit-transform: translate3d(-100%, 0px, 0px);
    transform: translate3d(-100%, 0px, 0px);
    transition: all 0.5s ease 0s;
    -webkit-transition: all 0.5s ease 0s;
  }
}
