.sidebar {
  grid-area: sidebar;
  background-color: var(--background-secondary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 10px;  
}

.sidebar .toggle {
  align-self: flex-end;
  display: none;
  border: none;
  outline: none;
  background: none;
  box-shadow: none;
  cursor: pointer;
  color: var(--primary-color);
}

.sidebar .toggle i {
  font-size: 32px;
}

.sidebar .profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 36px;
  margin-bottom: 20px;
}

.sidebar .profile img {
  border-radius: 50%;
  height: 120px;
  width: 120px;
}

.sidebar .profile .profile-image {
  background-image: url("../../assets/imgs/profile.png");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
  height: 120px;
  width: 120px;
}

.sidebar .profile span {
  margin-bottom: 10px;
}

.sidebar .profile a {
  color: var(--secondary-color);
  text-decoration: none;
}

.sidebar .menu {
  width: 100%;
}

.sidebar .menu hr {
  margin-bottom: 20px;
  border: 0;
  height: 1px;
  background-image: linear-gradient(
    to right,
    rgba(120, 120, 120, 0),
    rgba(120, 120, 120, 0.75),
    rgba(120, 120, 120, 0)
  );
}

.sidebar .menu ul {
  list-style-type: none;
  padding-left: 0;
}

.sidebar .menu li {
  line-height: 36px;
  vertical-align: center;
}

.sidebar .menu li:hover {
  background-color: var(--enabled-color);
}

.sidebar .menu a {
  color: var(--secondary-color);
  display: block;
  text-decoration: none;
  text-align: left;
}

@media only screen and (max-width: 1096px) {
  .sidebar {
    position: absolute;
    width: 280px;
  }

  .sidebar .profile {
    margin-top: 0px;
  }

  .sidebar .toggle {
    display: block;
  }

  .sidebar.open {
    -webkit-transform: translate3d(0px, 0px, 0px);
    transform: translate3d(0px, 0px, 0px);
    transition: all 0.5s ease 0s;
    -webkit-transition: all 0.5s ease 0s;
  }

  .sidebar.closed {
    -webkit-transform: translate3d(-100%, 0px, 0px);
    transform: translate3d(-100%, 0px, 0px);
    transition: all 0.5s ease 0s;
    -webkit-transition: all 0.5s ease 0s;
  }
}
