.article-card {
  border: 1px solid var(--disabled-color);
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.article-card:hover {
  box-shadow: 0 4px 8px 0 var(--secondary-color);
  transform: translatey(-8px) !important;
}

.article-card img {
  width: 100%;
  height: auto;
}

.article-card .article-content {
  background-color: var(--primary-color);
  color: #000;
  padding: 20px;
}

.article-card .article-content h4 {
  margin: 0px 0px 12px 0px;
}

.article-card .article-foot {
  background-color: var(--background-color);
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
}

.article-card .article-foot i {
  padding-right: 8px;
}