.categories-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 320px));
  grid-gap: 32px;
}

.categories-grid a {
  text-decoration: none;
  color: var(--primary-color);
}
