:root {
  --primary-color: #ffffff;
  --secondary-color: #6069b3;
  --enabled-color: #2f2f2f;
  --disabled-color: #919191;
  --background-color: #151414;
  --background-secondary-color: #000000;
}

* {
  font-family: "Roboto", sans-serif, Arial, Tahoma, Helvetica;
  font-size: 16px;
  box-sizing: border-box;
}

body {
  background-color: var(--background-color);
  color: var(--primary-color);
  margin: 0;
  padding: 0;
  zoom: 1;
}

.container {
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr 5fr 40px;
  grid-template-columns: 250px 1fr;
  grid-template-areas: "sidebar header" "sidebar content" "sidebar footer";
}

@media only screen and (max-width: 948px) {
  .container {
    grid-template-rows: 1fr 5fr 40px;
    grid-template-columns: 1fr;
    grid-template-areas: "header" "content" "footer";
  }
}
