.header {
  grid-area: header;
  background-color: var(--background-secondary-color);
  display: flex;
  flex-direction: column;
  align-items: left;
  width: 100%;
}

.header h1 {
  font-family: 'Indie Flower';
  font-size: 1.38em;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--primary-color);
  margin-top: 16px;
  margin-bottom: 4px;
}

.header h2 {
  font-family: 'Indie Flower';
  font-size: 1.26em;
  font-weight: 300;
  color: var(--disabled-color);
  margin-top: 4px;
  margin-bottom: 12px;
}

.header .navbar {
  display: flex;
  flex-direction: row;
  margin-bottom: 16px;
}

.header .navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.header .navbar li {
  padding-right: 1em;
}

.header .navbar a {
  display: block;
  color: var(--secondary-color);
  text-decoration: none;
  text-align: center;
}

.header .navbar a:hover,
.header .navbar a:active {
  color: var(--primary-color);
}

.header .navbar .spacer {
  flex: 1;
}

.header .navbar li button {
  display: block;
  font-size: 1em;
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
  color: var(--secondary-color);
}

.header .navbar .search {
  position: relative;
  padding-right: 20px;
}

.header .navbar .search i {
  position: absolute;
  left: 8px;
  top: 6px;
  color: var(--secondary-color);
}

.header .navbar .search input {
  background-color: #333861;
  border: none;
  border-radius: 10px;
  outline: none;
  padding: 6px 2px 6px 32px;
  color: var(--primary-color);
}

.header .navbar .search input:focus,
.header .navbar .search input:active {
  box-shadow: none;
}

.header .navbar.mobile {
  display: none;
}

@media only screen and (max-width: 1096px) {
  .header {
    padding: 16px;
  }

  .header .navbar.desktop {
    display: none;
  }

  .header .navbar.mobile {
    display: flex;
    margin-bottom: 0;
  }
}
