.header {
  grid-area: header;
  background-color: var(--background-secondary-color);
  display: flex;
  flex-direction: column;
  align-items: left;
  width: 100%;
}

.header h1 {
  font-family: "Indie Flower";
  font-size: 1.38rem;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--primary-color);
  margin-top: 10px;
  margin-bottom: 4px;
}

.header h2 {
  font-family: "Indie Flower";
  font-size: 1.36rem;
  font-weight: 300;
  color: var(--disabled-color);
  margin-top: 4px;
  margin-bottom: 12px;
}

.nav-links {
  margin-bottom: 16px;
  display: flex;
  flex-direction: row;
}

.nav-links ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.nav-links li {
  padding-right: 1rem;
}

.nav-links a {
  display: block;
  color: var(--secondary-color);
  text-decoration: none;
  text-align: center;
}

.nav-links a:hover,
.nav-links a:active {
  color: var(--primary-color);
}

.nav-links .spacer {
  flex: 1;
}

.nav-links li button {
  display: block;
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
  color: var(--secondary-color);
}

.nav-links .search {
  position: relative;
}

.nav-links .search i {
  position: absolute;
  left: 8px;
  top: 6px;
  color: var(--secondary-color);
}

.nav-links .search input {
  background-color: #333861;
  border: none;
  outline: none;
  padding: 4px 2px;
  padding-left: 32px;
  color: var(--primary-color);
}

.nav-links .search input:focus,
.nav-links .search input:active {
  box-shadow: none;
}

.mobile {
  display: none;
}

@media only screen and (max-width: 932px) {
  .header {
    padding: 16px;
  }

  .header h1 {
    font-size: 1.32rem;
  }

  .header h2 {
    font-size: 1.1rem;
  }

  .desktop {
    display: none;
  }

  .mobile {
    display: flex;
    margin-bottom: 0;
  }
}
