.header {
  grid-area: header;
  background-color: var(--background-secondary-color);
  display: flex;
  flex-direction: column;
  align-items: left;
  width: 100%;
}

.header h1 {
  font-family: 'Indie Flower';
  font-size: 1.38em;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--primary-color);
  margin-bottom: 4px;
}

.header h2 {
  font-family: 'Indie Flower';
  font-size: 1.26em;
  font-weight: 300;
  color: var(--disabled-color);
  margin: 0
}

.header .navbar {
  display: flex;
  flex-direction: row;
  font-size: 1.16em;
}

.header .navbar ul {
  list-style: none;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.header .navbar li a {
  display: block;
  color: var(--secondary-color);
  text-decoration: none;
  text-align: center;
  padding: 15px 18px 15px 18px;
}

.header .navbar .home a {
  padding-left: 0px;
}

.header .navbar li button {
  display: block;
  font-size: 1em;
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
  color: var(--secondary-color);
}

.header .navbar li a:hover,
.header .navbar li a:active {
  color: var(--primary-color);
  background-color: var(--enabled-color);
}

.header .navbar .spacer {
  flex: 1;
}

.header .navbar .search {
  position: relative;
  padding-right: 20px;
  padding-bottom: 4px;
}

.header .navbar .search i {
  position: absolute;
  left: 8px;
  top: 5px;
  color: var(--secondary-color);
}

.header .navbar .search input {
  background-color: #333861;
  border: none;
  border-radius: 10px;
  outline: none;
  padding: 6px 2px 6px 32px;
  color: var(--primary-color);
}

.header .navbar .search input:focus,
.header .navbar .search input:active {
  box-shadow: none;
}

.header .search-mobile {
  display: none;
}

.header .search-mobile button{
  padding: 10px;
  margin-left: 0;
}

@media only screen and (max-width: 680px) {
  .header h1 {
    padding-top: 10px;
    padding-left: 20px;
  }

  .header h2 {
    padding-left: 20px;
  }

  .header .navbar {
    font-size: 1em;
  }

  .header .navbar .home {
    margin-left: 10px;
  }

  .header .navbar li a {
    padding: 12px 10px 16px 10px;
  }

  .header .navbar .home a {
    padding-left: 10px;
  }

  .header .navbar {
    display: flex;
    margin-bottom: 0;
  }

  .header .search {
    display: none;
  }

  .header .search-mobile {
    display: flex;
  }
}
